<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DESKTOP-JEKPT9T_Gestion_de_Revendeurs_Soft_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JEKPT9T;integrated security=SSPI;initial catalog=Gestion_de_Revendeurs_Soft" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>